# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.venv/lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Models
*.pkl
*.joblib

# Logs
*.log
logs/

# Environment variables
.env
.env.local

# Streamlit
.streamlit/

# Node.js / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# React build
/frontend/build
/frontend/dist

# Database files
*.db
*.sqlite
*.sqlite3

# Temporary files
*.tmp
*.temp

commands.txt
screenshots
.jobs
.pki
.tmp
